.filter{
    border-radius: 50px;
    ul{
        li{
            list-style: none;
            background: rgb(27, 26, 33);
            padding: 10px;
            width: 200px;
        }
    }

   &-menu{
       display: none;

       &_link{
        text-decoration: none;
        color:white;
        text-transform: uppercase;
        border-bottom: 1px solid white;
       }
   } 

   &:hover  &-menu{
    display: block;
    position: absolute;
    transition: .4s ease-in-out;
    margin-bottom: 10px;
   }
}