.filter {
  border-radius: 50px;
}

.filter ul li {
  list-style: none;
  background: #1b1a21;
  padding: 10px;
  width: 200px;
}

.filter-menu {
  display: none;
}

.filter-menu_link {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}

.filter:hover .filter-menu {
  display: block;
  position: absolute;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  margin-bottom: 10px;
}
/*# sourceMappingURL=Filter.css.map */