body {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Luminari, fantasy;
    text-align: center;
  }

  .text_analyzer{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  
  #text_input-value{
    border: 2px solid black;
    border-radius: 30px;
    width: 50%;
    height: 100%;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.726);
    font-family: Luminari, fantasy;
    &:focus{
        outline: none;
        background: rgba(145, 232, 238, 0.568);
    }
  }

  #text_input-result, #text_input-clear{
      width: 150px;
      padding:0.5rem;
      border: none;
      border-radius: 15px;
      margin-top: 1rem;
      font-family: Luminari, fantasy;
      outline: none;
  }

#text_input-result{
    background: rgba(36, 172, 36, 0.685);
    &:hover{
        background: rgba(36, 172, 36, 0.959);
        cursor: pointer;
    }
}

#text_input-clear{
    background: rgba(128, 114, 114, 0.644);
    &:hover{
        background: rgba(128, 114, 114, 0.986);
        cursor: pointer;
    }
}

.text_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}