@-webkit-keyframes moveFromRightToLeft {
  0% {
    margin-left: 400px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes moveFromRightToLeft {
  0% {
    margin-left: 400px;
  }
  100% {
    margin-left: 0;
  }
}

@-webkit-keyframes moveFromLeftToRight {
  0% {
    margin-right: 700px;
  }
  100% {
    margin-right: 0;
  }
}

@keyframes moveFromLeftToRight {
  0% {
    margin-right: 700px;
  }
  100% {
    margin-right: 0;
  }
}

.about {
  background: url(https://previews.123rf.com/images/praewpailin/praewpailin1902/praewpailin190200343/116518772-football-field-or-soccer-field-for-background-green-lawn-court-for-create-sport-game-.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.8s;
}

.about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-name {
  text-transform: uppercase;
  font-size: 25px;
  background: rgba(255, 255, 255, 0.425);
  margin: 10px 0;
  width: 370px;
  -webkit-animation: moveFromRightToLeft 3s 1 alternate;
          animation: moveFromRightToLeft 3s 1 alternate;
}

.about-birth {
  font-size: 20px;
  background: rgba(255, 255, 255, 0.562);
  margin: 10px 0;
  width: 370px;
  -webkit-animation: moveFromLeftToRight 3s 1 alternate;
          animation: moveFromLeftToRight 3s 1 alternate;
}

.about-team {
  font-size: 20px;
  background: rgba(255, 255, 255, 0.726);
  margin: 10px 0;
  width: 370px;
  -webkit-animation: moveFromLeftToRight 3s 1 alternate;
          animation: moveFromLeftToRight 3s 1 alternate;
}

.about-height {
  font-size: 20px;
  background: rgba(255, 255, 255, 0.644);
  margin: 10px 0;
  width: 370px;
  -webkit-animation: moveFromRightToLeft 3s 1 alternate;
          animation: moveFromRightToLeft 3s 1 alternate;
}

.about-games {
  font-size: 20px;
  background: rgba(255, 255, 255, 0.836);
  margin: 10px 0;
  width: 370px;
  -webkit-animation: moveFromRightToLeft 3s 1 alternate;
          animation: moveFromRightToLeft 3s 1 alternate;
}

.about-goals {
  font-size: 20px;
  background: rgba(255, 255, 255, 0.925);
  margin: 10px 0;
  width: 370px;
  -webkit-animation: moveFromLeftToRight 3s 1 alternate;
          animation: moveFromLeftToRight 3s 1 alternate;
}

.about-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 400px;
}

img {
  width: 70%;
  padding-bottom: 400px;
}
/*# sourceMappingURL=about.component.css.map */