<div *ngIf='connectionError'>
  <p class="error"> <i class="fas fa-times"></i>  connection error</p>
</div>
<app-header></app-header>
<div class="about">
  <div class="about-info">
    <div>
      <img src={{currentPlayer.photo}} alt="">
    </div>
    <div class="about-description">
      <p class="about-name">{{currentPlayer.name}}</p>
      <p class="about-birth">{{currentPlayer.birth}}</p>
      <p class="about-height">Height:{{currentPlayer.height}}</p>
      <p class="about-team">Team:{{currentPlayer.currentTeam}}</p>
      <p class="about-games">Games:{{currentPlayer.games}}</p>
      <p class="about-goals">Goals:{{currentPlayer.goals}}</p>
    </div>

  </div>
</div>

