
@keyframes moveFromRightToLeft{
  0%{
    margin-left: 400px;
  }
  100%{
    margin-left: 0;
  }
}

@keyframes moveFromLeftToRight{
  0%{
    margin-right: 700px;
  }
  100%{
    margin-right: 0;
  }
}

.error{
  text-transform: uppercase;
  color: rgb(143, 19, 19);
  border: 1px solid  rgb(143, 19, 19);
  text-align:center;
  margin: 5px;
}

.about{
  background: url(https://previews.123rf.com/images/praewpailin/praewpailin1902/praewpailin190200343/116518772-football-field-or-soccer-field-for-background-green-lawn-court-for-create-sport-game-.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.8s;

  &-info{
    display: flex;
  }

  &-name{
    text-transform: uppercase;
    font-size: 25px;
    background: rgba(255, 255, 255, 0.425);
    margin: 10px 0;
    width: 370px;
    animation: moveFromRightToLeft 3s 1 alternate;
  }

  &-birth{
    font-size: 20px;
    background: rgba(255, 255, 255, 0.562);
    margin: 10px 0;
    width: 370px;
    animation: moveFromLeftToRight 3s 1 alternate;

  }

  &-team{
    font-size: 20px;
    background: rgba(255, 255, 255, 0.726);
    margin:10px 0;
    width: 370px;
    animation: moveFromLeftToRight 3s 1 alternate;
  }

  &-height{
    font-size: 20px;
    background: rgba(255, 255, 255, 0.644);
    margin: 10px 0;
    width: 370px;
    animation: moveFromRightToLeft 3s 1 alternate;
  }

  &-games{
    font-size: 20px;
    background: rgba(255, 255, 255, 0.836);
    margin:10px 0;
    width: 370px;
    animation: moveFromRightToLeft 3s 1 alternate;
  }

  &-goals{
    font-size: 20px;
    background: rgba(255, 255, 255, 0.925);
    margin:10px 0;
    width: 370px;
    animation: moveFromLeftToRight 3s 1 alternate;
  }

  &-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 400px;
  }

}

img{
  width: 70%;
  padding-bottom: 400px;
}
