.selected-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px;
  color: white;
}

.selected-product_img {
  width: 100px;
  padding: 5px;
}

.control-me {
  display: none;
}

#toggle:checked ~ .control-me {
  display: inline;
}

label {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

label img {
  width: 60px;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  left: -100vw;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #1b1a21;
}

.quantity p {
  font-size: 24px;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.cart {
  width: 300px;
  background: #1b1a21;
}

.cart-list {
  padding: 10px;
  background: #1b1a21;
}

.collection {
  position: absolute;
  background: #1b1a21;
  padding: 10px;
  margin-bottom: -30px;
  padding-top: 30px;
  background: #1b1a21;
}

.modal {
  position: absolute;
  background: #1b1a21;
}
/*# sourceMappingURL=Cart.css.map */