.selected-product{
    display: flex;
    flex-direction: row;
    margin: 10px;
    color: white;

    &_img{
        width: 100px;
        padding: 5px;
    }
}

.control-me {
    display: none;
}

#toggle:checked ~ .control-me{
    display: inline;
}

label {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    img{
        width: 60px;
        cursor: pointer;
    }
}

.visually-hidden {
    position: absolute;
    left: -100vw;
}

.quantity{
    display: flex;
    flex-direction: row;
    background:rgb(27, 26, 33);

    p{
        font-size: 24px;
        color: white;
        padding: 5px;
        cursor: pointer;
    }
}

.cart{
    width: 300px;
    background:rgb(27, 26, 33);

    &-list{
        padding: 10px;
        background:rgb(27, 26, 33);
    }
}

.collection{
    position: absolute; 
    background:rgb(27, 26, 33);
    padding: 10px;
    margin-bottom: -30px;
    padding-top: 30px;
    background:rgb(27, 26, 33);
    
}

.modal{
    position: absolute;
    background:rgb(27, 26, 33);
}