@mixin textUpperWhite {
  color: $whiteText;
  text-transform: $upperText;
}

@mixin animateChangeText( $name, $textAfter, $textBefore){
    @keyframes #{$name} { 
      0%{
        content: $textBefore;
        white-space: pre;
      } 
      50%{
        color: black;
      }
      100%{
        content: $textAfter;
        white-space: pre;
      }
    }
  }

  @mixin liveCounter ($nameAnimation, $firstNumber, $lastNumber) {
    $interval: 100 / ($lastNumber - $firstNumber);
    @keyframes #{$nameAnimation}{
        @for $i from $firstNumber through $lastNumber {
            $number: $i * $interval;
            $percent: $number + "%";
            #{$percent} {
              color:rgb(128, 180, 50);
              content: $i + "";
              font-size: 6rem;
            }
          }
    }
    animation: $nameAnimation 5s linear 1 alternate;
    transition: color .1s ease;  
  }