@media (min-width: 320px) and (max-width: 540px) {
  header {
    margin: auto 0;
    -ms-grid-columns: 3rem 12rem auto;
        grid-template-columns: 3rem 12rem auto;
    grid-gap: 10px;
  }
  .about-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-info_img {
    visibility: hidden;
  }
  .about-info_name {
    padding: 5rem 0;
  }
  .portfolio-item {
    height: 80vh;
  }
  .services-item_content {
    text-align: justify;
    font-size: 0.8rem;
  }
}

@media (max-width: 540px) {
  header {
    margin: auto 0rem;
    -ms-grid-columns: 3rem 8rem auto;
        grid-template-columns: 3rem 8rem auto;
    grid-gap: 0px;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-info_img {
    visibility: hidden;
  }
  .services-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .contact_form-input {
    width: 99%;
  }
  .link-social-network {
    padding: 0;
    font-size: 0.5rem;
  }
  .achievement-items {
    padding: 0;
  }
}

@media (max-width: 720px) {
  .achievement {
    padding: 15rem 0;
  }
  .achievement-project, .achievement-coffee, .achievement-client {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .portfolio {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio-item {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio-item_content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .portfolio-item_content_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-animation: moveObjetFromTopToDown 5s linear 0 alternate;
            animation: moveObjetFromTopToDown 5s linear 0 alternate;
  }
  .contact_form-input {
    width: 70%;
  }
  .services-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}
/*# sourceMappingURL=responsive.css.map */