@import "variables.scss";

@media (min-width:$extraSmallScreen) and (max-width:$smallScreen) {
    header{
        margin: auto 0;
        grid-template-columns: 3rem 12rem auto;
        grid-gap: 10px;
    } 

    .about-info{
        display: flex;
        flex-direction: column;
        &_img{
            visibility: hidden;
        }
        &_name{
            padding: 5rem 0;
        }
    } 

    .portfolio-item{
        height: 80vh;
    }
    
    .services-item_content{
        text-align: justify;
        font-size: 0.8rem;
    }
}

@media(max-width:$smallScreen){
    header{
        margin: auto 0rem;
        grid-template-columns: 3rem 8rem auto;
        grid-gap: 0px;
    }
    .about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-info_img{
            visibility: hidden;
        }
    }
    .services-items{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
    }

    .contact_form-input{
        width: 99%;
        }

    .link-social-network{
        padding: 0;
        font-size: 0.5rem;
    }

    .achievement-items{
        padding: 0;
    }
}

@media(max-width:$mediumScreen){

    .achievement{
        padding:15rem 0;
        &-project, &-coffee, &-client{
            justify-content: center;
            align-items: center;
            text-align: center;
          }
    }
    .portfolio{
      flex-wrap: wrap;
      &-item{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_content{
            order: 2;

            &_img{
                display: flex;
                justify-content: center;
                align-items: center;
                animation: moveObjetFromTopToDown 5s linear 0 alternate;
            }
        }
      }
  }
  
  .contact_form-input{
    width: 70%;
    }

    .services-items{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;
    } 
}