@import "variables.scss";
@import "mixins.scss";

@keyframes moveObjectToTop{
  0%{
    padding: 60rem 0;
  }
  50%{
    padding: 30rem 0;
  }
  100%{
    padding:15rem;
  }
}

@keyframes moveObjetFromTopToDown{
  0%{
    margin-top: 0;
  }
  25%{
    margin-top: 1rem;
  }
  50%{
    margin-top:2rem;
  }
  75%{
    margin-top:1rem;
  }
  100%{
    margin-top: 0;
  }
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:Gill Sans Extrabold, sans-serif;
  background:url(../img/bg.jpg) no-repeat fixed;
}

.header-content_img{
    width: 50px;
    height: 50px;
    background: none;
    border-radius: 25px;
    margin: 0 1rem;
}

.header-content{
  display: flex;
  font-family:Gill Sans Extrabold, sans-serif;
}

header{
  position: relative;
  color: white;
  text-align: center;
  font-family: 'Arial';
}

#check-menu{
  display: none;
}

.menu-label{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 2;
  line-height: 40px;
}

.burger-line{
  position: absolute;
  top: 8px;
  right: 10px;
  width: 35px;
  height: 2px;
  background-color: #fff;
  transition: .5s all;
}

.burger-line_second, .burger-line_third{
  top: 18px;
}

.burger-line_fourth{
  top: 28px;
}

.main-menu{
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: .5s all;
}

.nav-link{
  display: block;
  width: 100%;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-top: 1px solid rgba(255,255,255,.3);
  background-color: #000;
}

.nav-link:hover{
  background-color: rgba(0,0,0,.9);
}

#check-menu:checked ~ .main-menu{
  max-height: 500px;
  font-size: 16px;
}

#check-menu:checked ~ .burger-line_first{
  display: none;
}

#check-menu:checked ~ .burger-line_second{
  transform: rotate(45deg);
}

#check-menu:checked ~ .burger-line_third{
  transform: rotate(-45deg);
}

#check-menu:checked ~ .burger-line_fourth{
  display: none;
}

.section-content{
  color: rgb(223, 211, 211);
  text-transform: $upperText;
  font-size: 2rem;
}

.section-head{
  color: $whiteText;
  text-align: center;
}

.section-content, .section-head{
  display: flex;
  align-items:center;
  justify-content: center;
}

.about-info_img{
  img{
    width: 99%;
  }
}

.about-name{
  padding: 15rem 0;
  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: moveObjectToTop 1s linear 1 alternate;
}

.about-name {
  .section-content{
    padding: 5rem 0;
    text-align: center;;
  }
}

.about-name{
  .section-content::first-line{
    color: gray;
    text-transform:$upperText;
    color: grey;
    font-size: 2em;
  }
}

.about-name{
  .section-content::after{
  content: "";
  @include textUpperWhite();
  font-size: 2rem;
  @include animateChangeText(changeText, "I am from \A Lviv", "Hello! I am \A Natalia");
  animation: changeText 5s linear infinite alternate;
  }
}

.about-name{
  .section-content::first-line{
    color: gray;
    text-transform:$upperText;
    color: grey;
    font-size: 1.5em;
  }
}

.about-info{
  padding:7rem 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin: auto;

  .about-info_contact{
    padding: 30px;

    .about-info_head{
      z-index: -1;
      position: absolute;
      margin-bottom: 500px;
      font-size: 5rem;
      color: rgba(128, 128, 128, 0.39);
    }
  }

  .about-info_name{
    color: $whiteText;
  }

  .about-info_content{
    color: gray;
    text-align: center;
  } 

.about-info_link{
    color:$greenText;
    text-decoration: none;
    padding: 0 0.5rem;
  }

  .link-social-network:visited{
    color:$greenText;
  }

  .link-social-network:hover{
    color:white;
  }

  .link-contact{
    .fab{
      font-size: 2rem;
      padding: 15px;
    }
    .link-social-network:hover{
      color:$whiteText;
    }
  }

  .about-info_contact{
    color: $whiteText;

    .green-text{
      color:$greenText;
    }
  } 
}

.services{
  padding: 7rem 0;
  color: $whiteText;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .services-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 7%;

    .services-item{
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      .services-item_img{
        color:$greenText;
        font-size: 2rem;
        margin:0.25rem auto;
      }

      .services-item_content{
        color: $whiteText;
        text-transform:none;
        text-align: center;
        font-size: 1.2rem;
        padding: 0 4rem;
        margin: auto;
      }
    }
  }
}

.portfolio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &-item{
    padding: 3rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &_img{
      img{
        width: 80%;
      }
      background-image: url(../img/imgonline-com-ua-Shape-wVCag1dZFWo.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 30%;
    }
    &_content{
      padding: 0 1rem;
    }
    &_name{
      transform:uppercase;
      color: rgba(128, 128, 128, 0.39);
    }
    &_head{
      color: white;
    }
  
    &_description{
      color:$whiteText;
    }
  
    &_link{
      color:$greenText;
      text-decoration: none;
      &:visited{
        color:red;
        text-decoration: none;
      }
    }
    &_img{
      &:hover{
        img{
          cursor: pointer;
          opacity: 0.1;
        }
      }
    }
    &:hover{
          animation: moveObjetFromTopToDown 5s linear infinite alternate;
    }
  }
}

.achievement{
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  color:$whiteText;

  &-content, &-head{
    align-self: center;
    text-align: center;
  }

  &-items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10rem;
  }

  &-project, &-client, &-coffee{
    display: flex;
    flex-direction: column;
  }

  &-client{
    justify-content: center;
    align-items: flex-start;

    &_number::after{
      @include liveCounter(countClient, 1, 5);
      content: "5";
      font-size: 6rem;
      color: $greenText;
    }
  }

  &-coffee{
    justify-content: center;
    align-items: flex-end;

    &_number::after{
      @include liveCounter(countCoffee, 1, 1000);
      content: "1000";
      font-size: 6rem;
      color: $greenText;
    }
  }
  
  &-project{
    justify-content: center;
    align-items: center;

    &_number::after{
      @include liveCounter(countProject,1, 20);
      content: "20";
      font-size: 6rem;
      color: $greenText;
    }
  }
}

.contact{
  padding: 7rem 0;
}

.contact, .contact_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    color:$whiteText;
    text-align: center;

  &_form{

    &-input, &-btn{
      width: 50%;
      margin: auto;
      padding: 0.5rem 0;
      background: rgba(32, 31, 31, 0.671);
      border-radius: 50px;
      color: gray;
  
    &:focus{
      outline: none;
      border:1px solid $greenText;
      box-shadow: 0 0 5px $greenText;
      } 
    }
    &-btn{
      background:rgb(59, 42, 42);
      margin: 1rem auto;
      width: 200px;
      color:black;
      background:$greenText;
      cursor: pointer;
      border: none;
      font-family:Gill Sans Extrabold, sans-serif;
    }
    &-label{
      margin: auto;
      padding: 1rem 0;
    }
  }
}

.footer_links{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .link-social-network{
    padding: 1rem 2rem;
    color: $greenText;
    text-transform: none;
    font-size: 2rem;

    &:visited{
    color: $greenText;
    text-transform: none;
    }

    &:hover{
      color: $whiteText;
    }
  }
}


