.player{
  display: flex;
  flex-direction: column;

  img{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: 0;
    cursor: pointer;
  }

  p{
    background: black;
    text-transform: uppercase;
    color: white;
    margin-top: -15px;
    max-width: 200px;
    cursor: pointer;
  }
}
