.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.player img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50%;
  margin: 0;
  cursor: pointer;
}

.player p {
  background: black;
  text-transform: uppercase;
  color: white;
  margin-top: -15px;
  max-width: 200px;
  cursor: pointer;
}
/*# sourceMappingURL=player.component.css.map */