.product{
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 25px 10px;
    padding: 15px 5px;
    margin: 35px;

    &:hover{
        box-shadow: 0 0 30px rgba(0,0,0,0.5);
    }

    &-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-title{
        border-bottom: 2px solid yellow;
    }

    &-img{
        width: 200px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        }

    &-price{
        text-transform: uppercase;
        color:black;
        font-weight: bold;
        margin-top: -10px;
    }

    &-title{
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
    }
    

    &-list{

        &_item{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
    }
}

.btn-cart{
    background: rgb(27, 26, 33);
    outline: none;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    color: white;
    padding: 20px 10px;

    &:active{
        background:rgba(27, 26, 33, 0.685);
    }
}