@mixin  searchStyle {
    display: flex;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-transform:uppercase;
    align-items: center;
    justify-content: center;
    color:rgb(0, 0, 0);
}

@mixin  navLink {
    text-transform: uppercase;
            font-size: 14px;
            color:rgb(131, 138, 148);
            padding: 0 5px;
            font-family: 'Roboto', sans-serif;
            text-decoration: none;
            &:hover{
                color:rgb(149, 209, 183);
                text-decoration: underline;
                transition: 0.3s;
            }
}