body {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

header {
  background: url(../img/Rectangle1.png);
  background-repeat: no-repeat;
  background-size: 110% 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  padding: 50px 0;
}

.header-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  margin-bottom: 35px;
}

.header-search_icon {
  padding: 0 10px;
}

.header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.header-icon {
  padding: 0 10px;
}

.header-icon_menu img {
  height: 23px;
  margin-top: 2px;
  margin-left: -15px;
}

.header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav_link {
  text-transform: uppercase;
  font-size: 14px;
  color: #838a94;
  padding: 0 5px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.header-nav_link:hover {
  color: #95d1b7;
  text-decoration: underline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-nav_shop {
  color: #85c5ac;
  text-decoration: underline;
}

.icon-circle {
  width: 14px;
  position: relative;
  left: -16px;
  top: -12px;
}

.slider {
  background: #ade1c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: -75px;
}

.slider-inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 120px 0 120px 0;
}

.slider-content_header {
  font-size: 23px;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.slider-content_header::before {
  content: "New";
  font-family: 'Alex Brush', cursive;
  font-size: 73px;
  color: black;
  text-transform: none;
}

.slider-content_product {
  text-transform: uppercase;
  color: black;
  font-size: 72px;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  top: -102px;
}

.slider-content_product #low-price {
  font-size: 24px;
  vertical-align: top;
  position: relative;
  top: 24px;
  font-family: 'Roboto', sans-serif;
}

.slider-content_link {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: black;
  margin-top: -140px;
}

.slider-content_link:hover {
  color: black;
}

.slider-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

.slider-btn_num {
  margin-top: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin: 5px 10px;
}

.slider-btn img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.product-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-menu_img {
  width: 99%;
}

.product-photo {
  width: 280px;
  height: 255px;
}

.product-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.product-nav {
  color: #838a94;
}

.product-nav_link {
  text-transform: uppercase;
  font-size: 14px;
  color: #838a94;
  padding: 0 5px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

.product-nav_link:hover {
  color: #95d1b7;
  text-decoration: underline;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-info_item {
  padding: 15px 20px;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0;
}

.product-item_text {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 16px 40px 18px 0;
  position: relative;
  margin-right: -90px;
}

.product-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-description_line {
  max-width: 340px;
}

.product-description_name {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
}

.product-description_price {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: #ade1c5;
}

.product-price_prev {
  text-decoration: line-through;
  color: black;
}

.product-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  border: none;
  padding: 20px 0;
  cursor: pointer;
}

.product-cart:hover {
  color: #85c5ac;
}

.product-cart_img {
  margin-top: 5px;
  width: 30px;
  height: 30px;
}

.product-cart_text {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.product-content {
  margin-top: 50px;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bg-green {
  background: url(../img/product-item/Ellipse2.png);
  background-repeat: no-repeat;
}

.bg-pink {
  background: url(../img/product-item/EllipsePink.png);
  background-repeat: no-repeat;
}

.featured {
  padding-top: 100px;
}

.featured-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.featured-item {
  width: 50%;
}

.featured-item .featured-price {
  padding-top: 500px;
}

.featured-price {
  font-family: 'Roboto', sans-serif;
  background: url(../img/Feature/Ellipse3.png);
  background-repeat: no-repeat;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  vertical-align: bottom;
  padding: 50px 60px 60px 70px;
}

.featured-price_prev {
  font-size: 16px;
  text-decoration: line-through;
  margin-bottom: -50px;
  margin-right: -80px;
}

.featured-price_current {
  font-size: 45px;
  color: white;
  vertical-align: top;
}

.featured .text-transform {
  background: url(../img/Feature/Rectangle3.png);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: mixed;
  padding: 20px 30px;
  letter-spacing: 40px;
  margin-left: -70px;
  position: relative;
  z-index: -2;
  padding-top: 60px;
  top: 60px;
}

.featured-inform {
  position: relative;
}

.featured-inform_head {
  font-family: 'Roboto', sans-serif;
  font-size: 148px;
  line-height: 0;
  position: relative;
  z-index: 1;
  color: #85c5ac;
}

.featured-inform_name {
  margin-top: -12px;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  position: relative;
  z-index: 3;
  bottom: -10px;
}

.featured-inform_product {
  background: #8dd1b7;
  padding: auto 0 0 30px;
  position: relative;
  z-index: 3;
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
  max-width: 50%;
}

.featured-inform_description {
  background: #8dd1b7;
  color: white;
  width: 60%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  position: relative;
  top: 20px;
  z-index: 3;
  text-align: justify;
}

.featured-inform_link {
  color: white;
  text-transform: uppercase;
  position: relative;
  top: 60px;
  z-index: 3;
}

.featured-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: url(../img/Feature/bg.png);
  background-position: cover;
  background-repeat: no-repeat;
}

.featured-content_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.featured-content_img img {
  position: relative;
  width: 85%;
  bottom: 280px;
  z-index: 2;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #202127;
  padding: 50px 0;
  margin-top: -260px;
  position: relative;
  z-index: 10;
}

.information-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information-item_head {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.information-item_content {
  font-size: 14px;
  color: #767676;
  font-family: 'Roboto', sans-serif;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-inst_head {
  letter-spacing: 0.5px;
}

.footer-item {
  padding-right: 5px;
}

.footer-logo {
  position: relative;
  top: 30px;
}

.footer-grey_text {
  color: gray;
  width: 80%;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  bottom: 33px;
}

.footer-links_head {
  letter-spacing: 0.5px;
}

.footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .link-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 30px;
}

.footer_link {
  text-decoration: none;
  padding-top: 5px;
  color: #7b7c85;
}

.slider-selected {
  color: white;
}
/*# sourceMappingURL=style.css.map */