@import "../style/mixins.scss";

body{
    margin:0;
}
html{
    scroll-behavior: smooth;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

header{
    background: url(../img/Rectangle1.png);
    background-repeat: no-repeat;
    background-size: 110% 50%;
    display: flex;
    flex-direction: column;
}

.header{
    padding: 50px 0;

    &-search{
      @include searchStyle();
      margin-bottom: 35px;

      &_icon{
          padding:0 10px;
      }
    }

    &-icons{
        display: flex;
        margin-bottom: 35px;
    }

    &-icon{
      padding: 0 10px;

        &_menu{

            img{
                height: 23px;
                margin-top: 2px;
                margin-left: -15px;
            }
        }
    }

    &-items{
        display: flex;
        justify-content:space-around;
        align-items: center;
    }

    &-nav{
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &_link{
            @include navLink();
        }
        &_shop{
            color: rgb(133, 197, 172);
            text-decoration: underline;
        }
    }
}

.icon-circle{
    width: 14px;
    position: relative;
    left:-16px;
    top:-12px;
}

.slider{
    background: rgb(173, 225, 197);
    display: flex;
    flex-direction: row;
    margin-top: -75px;

    &-inform{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-content{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;
        padding: 120px 0 120px 0;

        &_header{
            font-size: 23px;
            font-family: 'Roboto', sans-serif;
            font-weight:lighter;
            text-transform:uppercase;
            letter-spacing: 0.5rem;
           
            &::before{
                content: "New";
                font-family: 'Alex Brush', cursive;
                font-size: 73px;
                color:rgb(0, 0, 0);
                text-transform:none;
            }
        }

        &_product{
            text-transform: uppercase;
            color: rgb(0, 0, 0);
            font-size: 72px;
            font-family:'Open Sans', sans-serif;
            position: relative;
            top:-102px;

            #low-price{
                font-size:24px;
                vertical-align: top;
                position: relative;
                top:24px;
                font-family:'Roboto', sans-serif;
            }
        }

        &_link{
            text-transform: uppercase;
            font-family:'Roboto', sans-serif;
            font-size: 16px;
            color: rgb(0, 0, 0);
            margin-top:-140px;
            &:hover{
                color: rgb(0, 0, 0);
            }
        }
    }

    &-btn{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;

        &_num{
            margin-top: 0;
            font-size: 16px;
            font-family:'Roboto', sans-serif;
            margin:5px 10px;
        }

        img{
            align-self: flex-end;
        }
    }
}

.product{

    &-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        &_img{
            width: 99%;
        }
    }

    &-photo{
        width: 280px;
        height: 255px;
    }

    &-search{
        @include searchStyle();
        display: flex;
        justify-content: flex-end;
    }

    &-nav{
        color: rgb(131, 138, 148);
        &_link{
            @include navLink();
        }
    }

    &-info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &_item{
                padding: 15px 20px;
            }
    }
    &-item{

        display: flex;
        padding-right: 0;
        &_text{
            color: white;
            text-transform: uppercase;
            font-size: 14px;
            font-family:'Roboto', sans-serif;
            text-align: center;
            padding: 16px 40px 18px 0;
            position: relative;
            margin-right: -90px;
        }
    }

    &-row{
        display: flex;
    }

    &-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_line{
            max-width: 340px;
        }

        &_name{
            font-family:'Open Sans', sans-serif;
            font-size: 23px;
        }
        &_price{
            font-size: 14px;
            font-family:'Roboto', sans-serif;
            color: rgb(173, 225, 197); 
        }
    }

    &-price_prev{
        text-decoration: line-through;
        color: rgb(0, 0, 0);
    }

    &-cart{
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: none;
        border: none;
        padding: 20px 0;
        cursor: pointer;

        &:hover{
            color: rgb(133, 197, 172);
        }

        &_img{
            margin-top: 5px;
            width: 30px;
            height: 30px;
        }
        &_text{
            text-transform: uppercase;
            font-family:'Roboto', sans-serif;
            font-weight: bold;
        }
    }

    &-content{
        margin-top: 50px;
        box-shadow: 0 0 30px rgba(0,0,0,0.2);
        margin: 25px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.bg-green{
    background: url(../img/product-item/Ellipse2.png);
    background-repeat: no-repeat;
}

.bg-pink{
    background: url(../img/product-item/EllipsePink.png);
    background-repeat: no-repeat;
}

.featured{
    padding-top: 100px;
    &-items{
        display: flex;
        flex-direction: row;
    }

    &-item{
        width:50%;

        .featured-price{
            padding-top: 500px;
        }
    }

    &-price{
        font-family:'Roboto', sans-serif;
        background:url(../img/Feature/Ellipse3.png);
        background-repeat: no-repeat;
        background-position: bottom;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        vertical-align: bottom;
        padding: 50px 60px 60px 70px;


        &_prev{
            font-size: 16px;
            text-decoration: line-through;
            margin-bottom: -50px;
            margin-right: -80px;
        }

        &_current{
            font-size: 45px;
            color: white;
            vertical-align: top;
        }
    }

    .text-transform{
        background: url(../img/Feature/Rectangle3.png);
        transform: rotate(180deg);
        font-size: 23px;
        font-family: 'Open Sans', sans-serif;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        padding: 20px 30px;
        letter-spacing: 40px;
        margin-left: -70px;
        position: relative;
        z-index: -2;
        padding-top: 60px;
        top:60px
    }

    &-inform{
        position: relative;

        &_head{
            font-family: 'Roboto', sans-serif;
            font-size: 148px;
            line-height: 0;
            position: relative;
            z-index: 1;
            color: rgb(133, 197, 172);
        }

        &_name{
            margin-top: -12px;
            color: white;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            position: relative;
            z-index: 3;
            bottom: -10px;
        }

        &_product{
            background: rgb(141, 209, 183);
            padding: auto 0 0 30px;
            position: relative;
            z-index: 3;
            font-size: 23px;
            font-family:'Open Sans', sans-serif;
            max-width: 50%;
        }

        &_description{
            background: rgb(141, 209, 183);
            color: white; 
            width: 60%;
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
            position: relative;
            top:20px;
            z-index: 3;
            text-align: justify;
        }

        &_link{
            color: white;
            text-transform: uppercase;
            position: relative;
            top:60px;
            z-index: 3;
        }
    }

    &-content{
        display: flex;
        background: url(../img/Feature/bg.png);
        background-position: cover;
        background-repeat: no-repeat;

        &_img{
            display: flex;
            justify-content: flex-end;
            align-self: flex-end;

            img{
                position: relative;
                width: 85%;
                bottom: 280px;
                z-index:2;
            }
        }
    }
}

.information{
    display: flex;
    justify-content: space-around;
    background: rgb(32, 33, 39);
    padding:50px 0;
    margin-top: -260px;
    position: relative;
    z-index: 10;

    &-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_head{
            color:white;
            font-size: 18px;
            text-transform: uppercase;
            font-family:'Open Sans', sans-serif;
            color: white;
        }

        &_content{
            font-size: 14px;
            color:rgb(118, 118, 118);
            font-family: 'Roboto', sans-serif;;
        }
    }
}

.footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &-inst_head{
        letter-spacing: 0.5px;
    }

    &-item{
        padding-right: 5px;
    }

    &-logo{
        position: relative;
        top:30px;
    }

    &-grey_text{
        color: gray;
        width: 80%;
    }

    &-links{
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 33px;
        &_head{
            letter-spacing: 0.5px;
        }
    }

    &-link{
        display: flex;
    }

    .link-list{
        display: flex;
        flex-direction: column;
        padding-right:30px;
    }
    &_link{
        text-decoration: none;
        padding-top: 5px;
        color: rgb(123, 124, 133);
    }
}

.slider-selected{
    color:white;
}