.modal-btn_submit{
    background:rgb(27, 26, 33);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    color: white;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 290px;
}

.total{
    font-size: 28px;
    text-align: center;
}

.close-window{
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: gray;
}