.modal-btn_submit {
  background: #1b1a21;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 290px;
}

.total {
  font-size: 28px;
  text-align: center;
}

.close-window {
  position: absolute;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: gray;
}
/*# sourceMappingURL=Modal.css.map */