@-webkit-keyframes colorchange {
  0% {
    color: white;
  }
  40% {
    color: rgba(255, 255, 255, 0.61);
  }
  70% {
    color: rgba(255, 255, 255, 0.336);
  }
  100% {
    color: white;
  }
}

@keyframes colorchange {
  0% {
    color: white;
  }
  40% {
    color: rgba(255, 255, 255, 0.61);
  }
  70% {
    color: rgba(255, 255, 255, 0.336);
  }
  100% {
    color: white;
  }
}

@-webkit-keyframes moveObjectToTop {
  0% {
    margin-top: 400px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes moveObjectToTop {
  0% {
    margin-top: 400px;
  }
  100% {
    margin-top: 0;
  }
}

.home {
  background: url(https://pershyj.com/uploaded/images/thumbs/960x540/rc/us/Y0JRCduc92F3jrteAqIwtaGsiTzxKte8s7ClSF0m.jpeg?v=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-head {
  -webkit-animation: colorchange 5s infinite alternate;
          animation: colorchange 5s infinite alternate;
}

.home-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: moveObjectToTop 3s 1 alternate;
          animation: moveObjectToTop 3s 1 alternate;
  padding: 200px 0 400px 0;
  margin-left: 200px;
}
/*# sourceMappingURL=home.component.css.map */