<div *ngIf='connectionError'>
  <p class="error"> <i class="fas fa-times"></i>connection error</p>
</div>
<div class="home">
  <h1 class="home-head">WELCOME TO FOOTBALL FUN</h1>
    <div class="home-item">
    <div *ngFor='let player of players'>
      <app-player [image]="player.photo" [name]="player.name" (getInfo)="moreInfo(player.id)"></app-player>
    </div>
  </div>
</div>
