@keyframes colorchange {
  0% {

    color: white;
  }

  40% {

    color:rgba(255, 255, 255, 0.61);
  }

  70% {

    color:rgba(255, 255, 255, 0.336);
  }

  100% {

    color:white;
  }
}

@keyframes moveObjectToTop{
  0%{
    margin-top: 400px;
  }
  100%{
    margin-top: 0;
  }
}

.error{
  text-transform: uppercase;
  color: rgb(143, 19, 19);
  border: 1px solid  rgb(143, 19, 19);
  text-align:center;
  margin: 5px;
}

.home{
  background: url(https://pershyj.com/uploaded/images/thumbs/960x540/rc/us/Y0JRCduc92F3jrteAqIwtaGsiTzxKte8s7ClSF0m.jpeg?v=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-head{
    animation:colorchange 5s infinite alternate;
  }

  &-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: moveObjectToTop 3s 1 alternate;
    padding:200px 0 400px 0;
    margin-left: 200px;
  }
}
